<div class="home-main">
    <div class="top-five">
        <div class="card" #topFiveHtml *ngFor="let movie of topFive; let i = index">
            <img [src]="imagePath+'/w780'+movie?.backdrop_path" alt="backdrop">
            <div class="movie-info">
                <p>{{ movie?.original_title }}</p>
            </div>
        </div>
        <div (click)="slideImages(-1)" class="slide left-arrow">
            <fa-icon [icon]="faAngleLeft"></fa-icon>
        </div>
        <div (click)="slideImages(1)" class="slide right-arrow">
            <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>
    </div>
</div>