@import "../../../styles.scss";

nav {
    color: white;
    height: 100vh;
    width: 18vw;
    border-right: 1.5px solid rgba(221, 221, 221, 0.11);
    position: sticky;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;

    img {
        width: 135px;
        padding: 19%;
        padding-top: 25%;
    }

    .category {
        padding: 0 0 0 19%;

        p {
            margin: 0;
            padding: 0 0 8% 0;
            color: #9696A3;
            font-weight: 800;
        }

        .menu-items {
            display: flex;
            flex-direction: column;

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                margin: 7% 1.5%;
                margin-right: 0;
                color: #696972;
                font-weight: 600;
                transition: 0.3s ease-out;
                cursor: pointer;

                p {
                    margin: 0;
                    padding: 0;
                }

                fa-icon {
                    font-size: 18px;
                    padding-right: 3%;
                }
            }

            a.active:hover, a.active {
                border-right: 4px solid #a38ad8;
                box-sizing: border-box;
                color: white;

                fa-icon {
                    color: #a38ad8;
                }
            }

            a:hover {
                box-sizing: border-box;
                color: white;

                fa-icon {
                    color: white;
                }
            }
        }
                
        .general {
            padding-top: 19%;
        }
    }
}

@media screen and (max-width: 1200px) {
    nav {
        width: 5vw;
        text-align: center;

        img {
            width: 65%;
            content: url("/assets/logo-black.svg");
            padding-top: 80%;
        }
    
        .category {
            padding: 0;

            p {
                display: none;
            }
    
            .menu-items {
    
                a {
                    justify-content: center;
                    width: 100%;
                    margin: 35% 1.5%;

                    p {
                        display: none;
                    }
                    
                    fa-icon {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}