<nav>
    <img src="/assets/moviedb-black.svg" alt="logo here">
    <div class="category">
        <p>MENU</p>
        <div class="menu-items">
            <a routerLink="/user/home" routerLinkActive="active"><fa-icon [icon]="faHouse"></fa-icon><p>Home</p></a>
            <a routerLink="/user/search-movie" routerLinkActive="active"><fa-icon [icon]="faMagnifyingGlass"></fa-icon><p>Search</p></a>
            <a routerLink="/user/favourites" routerLinkActive="active"><fa-icon [icon]="faStar"></fa-icon><p>Favorites</p></a>
            <a routerLink="/user/coming-soon" routerLinkActive="active"><fa-icon [icon]="faStopwatch"></fa-icon><p>Coming Soon</p></a>
        </div>
    </div>
    <div class="category">
        <p class="general">GENERAL</p>
        <div class="menu-items">
            <a routerLink="/user/settings" routerLinkActive="active"><fa-icon [icon]="faGear"></fa-icon><p>Settings</p></a>
            <a (click)="userLogOut()"><fa-icon [icon]="faRightFromBracket"></fa-icon><p>Log Out</p></a>
        </div>
    </div>
</nav>