:host {
    display: block;
    background-color: #191B1F;
}

.main {
    display: flex;
    flex-direction: row;

    .main-content {
        color: white;
        width: 100%;
        padding: 4% 5% 0 5%;
    }
}