:host {
    display: block;
    background-color: #191B1F;
}

.main {
    display: flex;
    flex-direction: row;

    .main-content {
        color: white;
        width: 52vw;
        padding: 4% 6% 0 6%;
        border-right: 1.5px solid rgba(221, 221, 221, 0.11);
    }
}