:host {
    display: block;
    background-color: #191B1F;
}

.main {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;

    .main-content {
        color: white;
        width: 54vw;
        height: 92vh;
        padding: 4% 5% 0 5%;
        border-right: 1.5px solid rgba(221, 221, 221, 0.11);
        overflow-y: auto;
        overflow-x: hidden;
    }

    .right-content {
        color: white;
        position: sticky;
        top: 0;
        align-self: flex-start;
        box-sizing: border-box;
        padding: 4% 2%;
        padding-bottom: 0;
        width: 18vw;
        height: 100vh;

        .popular {
            height: 47vh;

            h4 {
                padding: 0;
                margin: 0;
                font-size: 20px;
                margin-bottom: 15%;
            }

            .cards {
                height: 35vh;
                overflow-y: auto;
                width: 100%;

                .act-card {
                    height: 25%;
                    display: flex;
                    margin-bottom: 12%;

                    img {
                        width: 24%;
                        border-radius: 10px;
                    }

                    .act-info {
                        padding: 2% 0 2% 10%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        p {
                            margin: 0;
                            font-size: 15px;
                        }

                        small {
                            font-size: 13px;
                            color: #5E5F60;
                            font-weight: 800;
                        }
                    }
                }
            }
        }
    }

    .cards::-webkit-scrollbar, .main-content::-webkit-scrollbar {
        width: 5px;
    }
    
    .cards::-webkit-scrollbar-thumb, .main-content::-webkit-scrollbar-thumb {
        background-color: #5E5F60;
        border-radius: 100px;
    }
}

@media screen and (max-width: 1200px) {
    .main {
    
        .main-content {
            width: 65vw;
        }
    }
}