<div class="home-main">
    <div class="top-five">
        <div class="card" #topFiveHtml *ngFor="let movie of topFive; let i = index">
            <img [src]="imagePath+'/w780'+movie?.backdrop_path" alt="backdrop">
            <div class="movie-info">
                <p>{{ movie?.original_title }}</p>
                <small *ngFor="let genre of movie?.genres; let j = index">{{genre}}<span *ngIf="+j+1 !== movie?.genres?.length">, </span></small>
                <span class="rating">Rating: {{ movie?.vote_average | number : '1.1-1' }}</span>
                <button><fa-icon [icon]="faStar"></fa-icon>Add To Favorites</button>
            </div>
        </div>
        <div (click)="slideImages(-1)" class="slide left-arrow">
            <fa-icon [icon]="faAngleLeft"></fa-icon>
        </div>
        <div (click)="slideImages(1)" class="slide right-arrow">
            <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>
    </div>
    <div class="top-daily">
        <div class="header">
            <h3>Top movies daily</h3>
            <div class="arrows">
                <div class="left-arrow" (click)="dailySlideLeft('day')">
                    <fa-icon [icon]="faAngleLeft"></fa-icon>
                </div>
                <div class="right-arrow" (click)="dailySlideRight('day')">   
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                </div>
            </div>
        </div>
        <div class="daily-collection">
            <div *ngFor="let movie of topMoviesDaily; let i = index" class="movie-card">
                <img [src]="imagePath+'/w780'+movie?.poster_path" alt="backdrop">
                <div class="movie-det">
                    <div class="details">
                        <h4>{{ movie?.original_title }}</h4>
                        <div>
                            <p>Rating: {{ movie?.vote_average | number : '1.1-1' }}</p>
                            <p>Votes: {{ movie?.vote_count }}</p>
                        </div>
                    </div>
                </div>
                <button><fa-icon [icon]="faStar"></fa-icon></button>
            </div>
        </div>
    </div>
    <div class="top-daily">
        <div class="header">
            <h3>Top movies weekly</h3>
            <div class="arrows">
                <div class="left-arrow" (click)="dailySlideLeft('week')">
                    <fa-icon [icon]="faAngleLeft"></fa-icon>
                </div>
                <div class="right-arrow" (click)="dailySlideRight('week')">   
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                </div>
            </div>
        </div>
        <div class="daily-collection">
            <div *ngFor="let movie of topMoviesWeekly; let i = index" class="movie-card">
                <img [src]="imagePath+'/w780'+movie?.poster_path" alt="backdrop">
                <div class="movie-det">
                    <div class="details">
                        <h4>{{ movie?.original_title }}</h4>
                        <div>
                            <p>Rating: {{ movie?.vote_average | number : '1.1-1' }}</p>
                            <p>Votes: {{ movie?.vote_count }}</p>
                        </div>
                    </div>
                </div>
                <button><fa-icon [icon]="faStar"></fa-icon></button>
            </div>
        </div>
    </div>
</div>