.search-main {

    .search-box {
        width: 100%;
        position: relative;
        padding-bottom: 3%;

        input {
            width: 100%;
            padding: 1.5%;
            padding-left: 5.5%;
            outline: none;
            box-sizing: border-box;
            border: none;
            background-color: rgba(0, 0, 0, 0);
            color: white;
            font-family: 'Nunito', Arial, Helvetica, sans-serif;
            border-radius: 100px;
            border: 2px solid #5E5F60;
            font-size: 15px;
            transition: all 0.25s ease-in;
        }

        input:focus {
            border: 2px solid white;
        }

        input:focus + .search-icon {
            color: white;
        }

        .search-icon, .clear {
            position: absolute;
            top: 20%;
            left: 2%;
            font-size: 18px;
            color: #5E5F60;
            transition: all 0.25s ease-in;
        }

        .clear {
            position: absolute;
            left: 96%;
            cursor: pointer;
            color: white;
        }
    }

    .search-res {
        height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;

        .movie-card {
            height: 35%;
            width: 100%;
            box-sizing: border-box;
            padding: 2%;
            display: flex;
            border-bottom: 1px solid #5E5F60;

            img {
                width: 15%;
                height: 100%;
                border-radius: 20px;
                object-fit: cover;
            }

            .movie-info {
                padding: 2% 2% 2% 4%;
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: space-between;

                h4, p {
                    margin: 0;
                }

                h4 {
                    font-size: 20px;
                }

                p {
                    font-size: 15px;
                }

                .rating {
                    display: flex;
                    align-items: center;
                    height: 10%;

                    img {
                        height: 100%;
                        width: 6%;
                        object-fit: cover;
                        border-radius: 3px;
                        margin-right: 1%;
                    }
                }
            }

            button {
                border: none;
                outline: none;
                border-radius: 8px;
                background: rgb(106, 62, 200);
                color: white;
                font-family: 'Nunito', Arial, Helvetica, sans-serif;
                cursor: pointer;
                transition: 0.3s all ease 0s;
                width: 5%;
                height: 17%;
                display: flex;
                align-items: center;
                justify-content: center;

                fa-icon {
                    font-size: 16px;
                }
            }

            button:hover {
                transform: scale(1.05);
            }
        }

        .spinner {
            display: flex;
            justify-content: center;

            mat-spinner::ng-deep circle{
                stroke: #a38ad8 !important;
            }
        }
    }

    .search-res::-webkit-scrollbar {
        width: 5px;
    }
    
    .search-res::-webkit-scrollbar-thumb {
        background-color: #5E5F60;
        border-radius: 100px;
    }
}