<nav>
    <img src="/assets/moviedb-black.svg" alt="logo here">
    <div class="category">
        <p>MENU</p>
        <ul>
            <li><fa-icon [icon]="faHouse"></fa-icon><a>Home</a></li>
            <li><fa-icon [icon]="faMagnifyingGlass"></fa-icon><a>Search</a></li>
            <li><fa-icon [icon]="faStar"></fa-icon><a>Favourites</a></li>
            <li><fa-icon [icon]="faStopwatch"></fa-icon><a>Coming Soon</a></li>
        </ul>
    </div>
    <div class="category">
        <p class="general">GENERAL</p>
        <ul>
            <li><fa-icon [icon]="faGear"></fa-icon><a>Settings</a></li>
            <li><fa-icon [icon]="faRightFromBracket"></fa-icon><a>Log Out</a></li>
        </ul>
    </div>
</nav>